$lightPink: #ffedf3;
$lightPurple: #f4edff;
$lightOrange: #ffecda;
$green: #dff4d7;
$lightGreen :#daffe6;
$purple: #ffdafe;
$navyBlue: #151a46;
$black:#000000;
$white: #ffffff;
$lightGray: #fafaff;
$borderColor: #b3b8d8;



